<style>
  .wrapper {
    position: relative;
  }

  .menu {
    position: absolute;
    left: 0.1rem;
    top: 0.4rem;

    z-index: 100;

    border: 2px transparent solid;
    border-radius: 0.3rem 0.3rem;

    padding: 0 0.5rem;

    width: 1.2rem;
    max-height: 2.2rem;

    font-size: 1rem;
    color: var(--text-color-light);
    background: var(--card-subtle);

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;

    transition:
      opacity 0ms linear 150ms,
      max-height 100ms ease-out 50ms,
      padding 100ms ease-out 50ms,
      border 10ms ease-out 140ms;

    overflow: hidden;
  }

  .menu.open {
    max-height: 8rem;

    opacity: 1;

    border: 2px var(--foreground) solid;

    transition:
      opacity 0ms linear 0s,
      max-height 200ms ease-out 0s,
      padding 200ms ease-out 0s,
      border 50ms ease-out 0s;
  }

  .filter-item {
    width: 1.7rem;
    height: 2rem;
    font-size: 2rem;
    color: var(--foreground);

    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;

    cursor: pointer;
    pointer-events: all;
  }

  .filter-item.active {
    color: var(--text-color-default);
  }

  .filter-item.active:hover {
    color: var(--text-color-default);
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: none;
    border: none;
    padding: 0.5rem 0.2rem;
  }

  .icon {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1.6rem;
    color: var(--foreground);

    display: flex;
    align-items: center;

    padding: 0.3rem;

    cursor: pointer;
  }

  .filter-item:hover {
    color: var(--text-color-light);
  }

  .icon.active {
    color: var(--text-color-default);
  }

  .arrow {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    color: var(--foreground);

    display: flex;
    align-items: center;

    margin-left: 0.1rem;

    transition: transform 200ms ease-out 0s;
  }

  .arrow.open {
    transition: transform 200ms ease-out 0s;
    transform: rotate(90deg);
  }
</style>

<script lang="ts">
  import Icon from '@iconify/svelte'
  import type { SearchMode } from '../../../../../stores/options'
  import { searchModeStore } from '../../../../../stores/options'

  $: filterMode = $searchModeStore

  let isOpen = false

  const handleButton = () => {
    isOpen = !isOpen
  }

  const changeMode = (mode: SearchMode) => {
    if (mode === filterMode) {
      $searchModeStore = 'all'
    } else {
      $searchModeStore = mode
    }
    //isOpen = false
  }
</script>

<div class="wrapper">
  <button title="search filter" class="button" on:click="{handleButton}">
    <div class="icon {filterMode !== 'all' ? 'active' : ''}">
      {#if filterMode === 'file'}
        <Icon icon="carbon:document" />
      {:else if filterMode === 'dir'}
        <Icon icon="carbon:folder" />
      {:else}
        <Icon icon="ion:search" />
      {/if}
    </div>
    <div class="arrow {isOpen ? 'open' : ''}">
      <Icon icon="ion:caret-forward" />
    </div>
  </button>
  <div class="menu {isOpen ? 'open' : ''}">
    <div
      title="search filter"
      class="icon {filterMode !== 'all' ? 'active' : ''}"
      on:click="{handleButton}"
      role="button"
      tabindex="-1"
      on:keyup="{handleButton}"
    >
      {#if filterMode === 'file'}
        <Icon icon="carbon:document" />
      {:else if filterMode === 'dir'}
        <Icon icon="carbon:folder" />
      {:else}
        <Icon icon="ion:search" />
      {/if}
    </div>
    <div
      title="search filter: file"
      class="filter-item {filterMode === 'file' ? 'active' : ''}"
      on:click="{() => changeMode('file')}"
      role="button"
      tabindex="-2"
      on:keyup="{() => changeMode('file')}"
    >
      <Icon icon="carbon:document" />
    </div>
    <div
      title="search filter: folder"
      class="filter-item {filterMode === 'dir' ? 'active' : ''}"
      on:click="{() => changeMode('dir')}"
      role="button"
      tabindex="-3"
      on:keyup="{() => changeMode('dir')}"
    >
      <Icon icon="carbon:folder" />
    </div>
  </div>
</div>
