<style>
  .wrapper {
    width: 100%;
  }

  .inner-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));

    grid-gap: 2rem 0rem;
  }

  .with-content {
    padding: 2rem 4rem;
  }

  @media (--small-viewport) {
    .inner-wrapper {
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));

      grid-gap: 2rem 0rem;
    }

    .with-content {
      padding: 2rem 1rem;
    }
  }
</style>

<script lang="ts">
  import type { LibraryItem } from '../../../../../types/library-item'
  import Item from '../Item.svelte'

  export let results: LibraryItem[] = []
</script>

<div class="wrapper">
  <div class="inner-wrapper {results.length > 0 ? 'with-content' : ''}">
    {#each results as item}
      <Item item="{item}" small="{true}"></Item>
    {/each}
  </div>
</div>
