<style>
  .search {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
  }

  .searchIcon {
    position: absolute;
    left: 0.75rem;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .closeIcon {
    opacity: 0;
    position: absolute;
    right: 2.2rem;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.3rem;

    cursor: pointer;
    pointer-events: none;
  }

  .closeIcon.enabled {
    opacity: 1;

    pointer-events: all;
  }

  .searchBox {
    width: 100%;
    box-sizing: border-box;
    margin: 0 1rem 0 0;

    border: 3px solid var(--card-color);
    background: var(--card-subtle);
    padding: 0.5rem 1rem 0.5rem 4.6rem;
    border-radius: 1rem;
    height: 3rem;
    outline: none;
    color: var(--text-color-default);

    font-size: 1.3rem;

    /*box-shadow: var(--elevation-1);*/

    transition: height 100ms ease-out 0ms;
  }

  .searchBox:focus {
    border: 3px solid var(--text-color-light);

    height: 3.5rem;

    transition: height 100ms ease-out 0ms;
  }
</style>

<script lang="ts">
  import Icon from '@iconify/svelte'
  import SearchFilter from './SearchFilter.svelte'

  export let onInput = () => {}
  export let onSearch = () => {}
  export let onClear = () => {}
  export let onFocus = () => {}
  export let onBlur = () => {}

  let value = ''

  const handleClear = () => {
    value = ''
    onClear()
  }
</script>

<div class="search">
  <div class="searchIcon">
    <SearchFilter></SearchFilter>
  </div>
  <input
    bind:value="{value}"
    on:input="{onInput}"
    on:change="{onSearch}"
    on:focus="{onFocus}"
    on:blur="{onBlur}"
    class="searchBox"
    type="text"
  />
  <div
    class="closeIcon {value.length > 0 ? 'enabled' : ''}"
    on:click="{handleClear}"
    role="button"
    tabindex="-1"
    on:keyup="{handleClear}"
  >
    <Icon icon="ion:close" />
  </div>
</div>
