<style>
  .container {
    height: 100%;
    width: 100%;
  }

  .viewer {
    width: 100%;
    height: 100%;
    border: none;
  }

  @media (--small-viewport) {
    .container {
      width: calc(100% - 0.25rem);
      height: 100%;
    }
  }
</style>

<script lang="ts">
  import { onMount } from 'svelte'
  import { getMeta } from '../../../utils/meta'

  export let page = 1
  export let file

  export let previewTitle = 'Inkheart'

  let page_internal = page

  let iframe: HTMLIFrameElement

  let pdfApp: any

  let outline: any = {}

  onMount(() => {
    previewTitle = getPreviewTitle()
    document.addEventListener('webviewerloaded', function (e) {
      pdfApp = (iframe.contentWindow as any).PDFViewerApplication
      pdfApp.initializedPromise.then(function () {
        pdfApp.eventBus.on('pagesinit', (e) => {
          //buildOutline()
        })

        pdfApp.eventBus.on('pagechanging', (e) => {
          page = e.pageNumber
          if (outline[page]) {
            previewTitle = outline[page]
          }
        })
      })
    })
  })

  const getPreviewTitle = () => {
    const metaTags = getMeta()

    //console.log(metaTags)

    return metaTags['inkheart:preview-title'] === '$OGTITLE' ? 'Inkheart' : metaTags['inkheart:preview-title']
  }

  interface OutlineItem {
    dest: { num: number; gen: number }[]
    title: string
    items: OutlineItem[]
  }

  const buildOutline = async () => {
    let numPages = pdfApp.pdfViewer.pdfDocument.numPages
    let root: OutlineItem[] = await pdfApp.pdfViewer.pdfDocument.getOutline()
    let map = {}
    for (const item of root) {
      await walkOutline(item, map)
    }

    let currentTitle = previewTitle
    for (let i = 1; i <= numPages; i++) {
      if (map[i] !== undefined) {
        currentTitle = map[i]
      } else {
        map[i] = currentTitle
      }
    }
    outline = map

    //console.log(outline)
  }

  const walkOutline = async (item: OutlineItem, acc: any) => {
    try {
      let index = await pdfApp.pdfViewer.pdfDocument.getPageIndex(item.dest[0])
      if (index !== undefined && index !== null && acc[index + 1] === undefined) {
        acc[index + 1] = item.title
      }
    } catch (e) {}

    for (const ch of item.items) {
      await walkOutline(ch, acc)
    }
  }
</script>

<div class="container">
  <iframe
    bind:this="{iframe}"
    class="viewer"
    src="/static/pdfjs/web/viewer.html?file={file}#page={page_internal}"
    title="viewer"
  >
  </iframe>
</div>
