<style>
  .container {
    width: 15rem;
    height: 12rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
  }

  .container.small {
    width: 10rem;
    height: 8rem;
  }

  .details.small {
    width: calc(10rem - 1rem);
  }

  .details {
    padding: 0.5rem;
    color: var(--text-color-light);
    font-size: 1.2rem;
    font-weight: 500;
    width: calc(15rem - 1rem);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .title {
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.3rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (--small-viewport) {
    .container {
      max-width: 80vw;
      width: 9rem;
      height: 7rem;
    }

    .details {
      width: calc(9rem - 1rem);
      font-size: 0.8rem;
    }

    .container.small {
      width: 7rem;
      height: 5rem;
    }

    .details.small {
      width: calc(7rem - 1rem);
      font-size: 0.6rem;
    }
  }
</style>

<script lang="ts">
  import Folder from '../../icons/Folder.svelte'
  import Card from './Card.svelte'

  export let title = ''
  export let small = false
</script>

<Card padding="{false}">
  <div class="container {small ? 'small' : ''}">
    <Folder primaryColor="var(--card-contrast)" width="60%" height="auto" />
  </div>
  {#if title}
    <div class="details {small ? 'small' : ''}"><span class="title">{title}</span></div>
  {/if}
</Card>
