<script lang="ts">
  export let primaryColor = 'black'

  export let width = '2rem'
  export let height = '2rem'
</script>

<div style="width: {width}; height: {height};">
  <svg width="100%" height="100%" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path
      style="fill: {primaryColor};"
      d="M11.086 5.5l2.457 2.414 0.629 0.586h15.829v18h-28v-21h9.086zM12 3.5h-10c-1.105 0-2 0.896-2 2v21c0 1.105 0.895 2 2 2h28c1.105 0 2-0.895 2-2v-18c0-1.104-0.895-2-2-2h-15z"
    ></path>
  </svg>
</div>
