<style>
  .wrapper {
    position: relative;
    height: 2.7rem;
    width: 3rem;
    margin-top: -0.25rem;
  }

  .button {
    position: absolute;

    padding: 0.2rem 0.3rem;

    border: 2px solid var(--foreground);
    border-radius: 0.5rem;

    /*box-shadow: var(--elevation-1);*/

    background: var(--card-subtle);
    color: var(--foreground);

    overflow: hidden;

    transition: all 200ms ease-out 0ms;
  }

  .button.open {
    transition: all 200ms ease-out 0ms;
  }

  .button-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-bottom: 2px transparent solid;

    transition: border 100ms ease-out 50ms;
  }

  .sort-icon {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 1.9rem;
    color: var(--foreground);

    display: flex;
    align-items: center;

    padding: 0.1rem;

    cursor: pointer;
  }

  .sort-icon {
    color: var(--text-color-default);
  }

  .menu {
    position: absolute;
    right: 0rem;
    top: 3.3rem;

    background: transparent;

    white-space: nowrap;

    /*width: 10.6rem;*/

    /*padding: 0.6rem;*/

    max-height: 0;

    border: 2px solid transparent;
    border-radius: 0.5rem;

    overflow: hidden;

    transition:
      max-height 200ms ease-out 0ms,
      padding 200ms ease-out 0ms,
      opacity 200ms ease-out 0ms,
      border 200ms ease-out 0ms;

    text-align: left;
  }

  .menu.open {
    max-height: 10rem;

    background: var(--card-subtle);
    border: 2px solid var(--foreground);

    transition:
      max-height 200ms ease-out 0ms,
      padding 200ms ease-out 0ms,
      opacity 200ms ease-out 0ms,
      border 200ms ease-out 0ms;
  }

  .menu-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2rem;
    padding-left: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .menu-icon {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1.6rem;
    color: var(--foreground);

    display: flex;
    align-items: center;

    padding: 0.1rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;

    cursor: pointer;
  }

  .menu-icon.active {
    color: var(--button-primary);
  }

  @media (--small-viewport) {
    .menu {
      position: fixed;
      right: 1rem;
      top: 8.3rem;
    }

    .menu.with-header {
      margin-top: 3.6rem;
    }
  }
</style>

<script lang="ts">
  import Icon from '@iconify/svelte'
  import { getActiveTheme, updateTheme } from '../../../../../lib/theme'
  import { selectedTheme } from '../../../../../stores/options'

  export let withHeader = false

  let isOpen = false

  const handleButton = () => {
    isOpen = !isOpen
  }

  $: active = $selectedTheme ? getActiveTheme() === 'dark' : getActiveTheme() === 'dark'

  const toggleDarkmode = () => {
    const active = getActiveTheme()
    const newTheme = active === 'dark' ? 'light' : 'dark'

    updateTheme(newTheme)
  }
</script>

<div class="wrapper">
  <div class="button {isOpen ? 'open' : ''}">
    <div class="button-main">
      <div class="sort-icon" on:click="{handleButton}" role="button" tabindex="-1" on:keyup="{handleButton}">
        <Icon icon="iconamoon:options-thin" />
      </div>
    </div>
  </div>

  <div class="menu" class:open="{isOpen}" class:with-header="{withHeader}">
    <div class="menu-row">
      <div class="menu-text">Dark Mode</div>
      <div
        class="menu-icon {active ? 'active' : ''}"
        on:click="{toggleDarkmode}"
        on:keyup="{toggleDarkmode}"
        role="button"
        tabindex="-1"
      >
        {#if active}
          <Icon icon="ic:baseline-dark-mode" />
        {:else}
          <Icon icon="ic:baseline-dark-mode" />
        {/if}
      </div>
    </div>
    <!--<div class="menu-row"><div class="menu-text">Folder Preview</div><div class="menu-icon"><Icon icon="ri:folder-image-line" /></div></div>-->
  </div>
</div>
