<style>
  .wrapper {
    position: relative;
    height: 2.7rem;
    width: 7rem;
    margin-top: -0.25rem;
  }

  .button {
    position: absolute;
    right: 0;

    padding: 0.2rem 0.3rem;

    border: 2px solid var(--foreground);
    border-radius: 0.5rem;

    /*box-shadow: var(--elevation-1);*/

    background: var(--card-subtle);
    color: var(--foreground);

    overflow: hidden;
  }

  .button-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-bottom: 2px transparent solid;

    transition: border 100ms ease-out 50ms;
  }

  .button.open .button-main {
    border-bottom: 2px var(--foreground) solid;

    transition: border 100ms ease-out 50ms;
  }

  .sort-icon {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1.6rem;
    color: var(--foreground);

    display: flex;
    align-items: center;

    padding: 0.1rem;

    cursor: pointer;
  }

  .property-btn {
    cursor: pointer;
  }

  .prop {
    padding: 0;
    cursor: pointer;
  }

  .button-active-prop {
    padding: 0.3rem 0.1rem;
    color: var(--text-color-default);
  }

  .sort-icon,
  .prop.active {
    color: var(--text-color-default);
  }

  .prop-list {
    max-height: 0;
    text-align: left;
    padding: 0 0.2rem;

    transition: max-height 100ms ease-out 50ms;
  }

  .button.open .prop-list {
    max-height: 8rem;
    transition: max-height 200ms ease-out 0s;
  }

  .prop-list .prop:hover {
    color: var(--text-color-light);
  }
</style>

<script lang="ts">
  import Icon from '@iconify/svelte'
  import { sortModeStore, sortPropStore } from '../../../../../stores/options'

  interface Prop {
    key: string
    display: string
  }

  $: sortMode = $sortModeStore
  $: sortProp = $sortPropStore

  export let sortableProps: Prop[] = []

  let isOpen = false

  const handleButton = () => {
    isOpen = !isOpen
  }

  const handleOrderingButton = () => {
    let newMode: typeof sortMode = sortMode == 'asc' ? 'dsc' : 'asc'
    $sortModeStore = newMode
  }

  const setSortProp = (prop: string) => {
    $sortPropStore = prop
  }
</script>

<div class="wrapper">
  <div class="button {isOpen ? 'open' : ''}">
    <div class="button-main">
      <div class="property-btn" on:click="{handleButton}" role="button" tabindex="-1" on:keyup="{handleButton}">
        <div class="button-active-prop">{sortableProps.find((p) => p.key === sortProp).display}</div>
      </div>
      <div
        class="sort-icon"
        on:click="{handleOrderingButton}"
        role="button"
        tabindex="-1"
        on:keyup="{handleOrderingButton}"
      >
        {#if sortMode === 'asc'}
          <Icon icon="prime:sort-amount-up" />
        {:else if sortMode === 'dsc'}
          <Icon icon="prime:sort-amount-down" />
        {/if}
      </div>
    </div>
    <div class="prop-list">
      {#each sortableProps as prop}
        <div
          class="prop {sortProp === prop.key ? 'active' : ''}"
          on:click="{() => setSortProp(prop.key)}"
          role="button"
          tabindex="-1"
          on:keyup="{() => setSortProp(prop.key)}"
        >
          {prop.display}
        </div>
      {/each}
    </div>
  </div>
</div>
