<style>
  .body {
    width: 20vw;
    color: var(--text-color-default);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 2rem;
    background-color: var(--foreground);
  }

  .form-field {
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
  }

  .form-field label {
    display: block;
    margin-left: 0.2rem;
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }

  .form-field input {
    height: 2rem;
    width: calc(100% - 1rem);
    background-color: var(--card-color);
    border-radius: 0.3rem;
    border: 0.13rem solid var(--separator-1);
    color: var(--text-color-default);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .form-field input:read-only {
    color: var(--text-color-light);
  }

  .embed-footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  button {
    cursor: pointer;
    border: 0;
    border-radius: 0.3rem;
    font-weight: 600;
    width: auto;
    padding: 0.5rem 1rem;
    line-height: 1.1rem;
    box-shadow: var(--elevation-1);
    transition: 0.2s;
  }

  .embed-btn {
    color: var(--text-color-contrast);
    background-color: var(--button-primary);
    border: 0.15rem solid var(--button-primary);
  }

  .cancel-btn {
    color: var(--text-color-default);
    background-color: var(--button-secondary);
    border: 0.15rem solid var(--separator-1);
  }

  .cancel-btn:hover {
    box-shadow: 0 0 0.2rem var(--separator-1);
  }

  .embed-btn:hover {
    box-shadow: 0 0 0.5rem var(--separator-1);
  }
</style>

<script lang="ts">
  import { toast } from '@zerodevx/svelte-toast'
  import { copyTextToClipboard } from '../../../lib/copy-to-clipboard'
  import Modal from './Modal.svelte'

  export let open = false

  export let pageNumber = 1
  export let previewText = ''

  export let baseUrl = ''

  $: url = `${baseUrl}?page=${pageNumber}&preview=${encodeURIComponent(previewText)}`

  const handleClose = () => {
    open = false
  }

  const handleCopy = () => {
    copyTextToClipboard(url)
    toast.push('Link copied!')
  }
</script>

<Modal bind:open="{open}">
  <div class="body">
    <div class="form-field">
      <label for="embed-page-number">Page Number</label>
      <input id="embed-page-number" type="number" min="1" bind:value="{pageNumber}" />
    </div>
    <div class="form-field">
      <label for="embed-page-number">Preview Text</label>
      <input id="embed-page-number" bind:value="{previewText}" />
    </div>
    <div class="form-field">
      <label for="embed-page-number">Url</label>
      <input id="embed-url" value="{url}" readonly />
    </div>
    <div class="form-field embed-footer">
      <button class="embed-btn" on:click="{handleCopy}">Copy Embed Link</button>
      <button class="cancel-btn" on:click="{handleClose}">Close</button>
    </div>
  </div>
</Modal>
