<style>
  .modal {
    position: fixed;
    top: 40vh;
    background: none;
    padding: 0;
    border: none;
    transform: translateY(-40%);
  }
</style>

<script lang="ts">
  import { onMount } from 'svelte'
  import Card from '../card/Card.svelte'

  export let open = false

  let dialog: HTMLDialogElement

  $: (open || !open) && toggleModal()

  const toggleModal = () => {
    try {
      open ? dialog.showModal() : dialog.close()
    } catch (e) {}
  }
</script>

<dialog bind:this="{dialog}" class="modal">
  <Card padding="{false}">
    <slot />
  </Card>
</dialog>
