<style>
  .container {
    position: relative;
    width: 100%;
  }

  .container:after {
    content: '';
    display: block;
    padding-bottom: 25%;
  }

  .content {
    position: absolute;
    width: calc(100% - 3rem);
    height: 100%;
    padding-left: 2rem;

    display: flex;
    justify-content: left;
    align-items: center;
  }

  a {
    color: var(--text-color-light);
    font-size: 1.3rem;
  }

  a:hover {
    color: var(--text-color-default);
  }
</style>

<script lang="ts">
  import { link } from 'svelte-navigator'

  export let path
</script>

<a href="{path}" use:link>
  <div class="container">
    <div class="content">
      <slot />
    </div>
  </div>
</a>
