<style>
  .container {
    height: 100%;

    position: relative;
  }

  .nav {
    z-index: 100;

    height: 100%;
    width: 13rem;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'top' 'nav' 'version';

    background-color: var(--foreground);
    box-shadow: var(--elevation-2);

    transition: width 100ms ease-in-out;
  }

  /* for mobile open and close*/
  .nav.open {
    transform: translateX(0);

    transition: transform 50ms linear;
  }

  h2 {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
  }

  .nav nav {
    grid-area: nav;
  }

  .version-wrapper {
    grid-area: version;
    padding: 2rem;
  }

  .separator {
    border-bottom: 1px solid var(--separator-1);
    margin-bottom: 1rem;
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
  }

  .topbar {
    grid-area: top;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .toggleOpen {
    all: unset; /* Resets all inherited and default button styles */
    cursor: pointer; /* Ensures the pointer cursor is still applied */
    font-size: 1.5rem; /* Optional: Custom font size */
    color: inherit; /* Ensures the button text inherits the parent's color */

    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .collapsed {
    width: 4rem;
    overflow: hidden;

    transition: width 100ms ease-in-out;
  }

  .collapsed nav {
    width: 4rem;
    opacity: 0;
  }

  .collapsed .topbar {
    align-items: center;
    width: 4rem;
  }

  .collapsed .toggleOpen {
    margin: 0;
  }

  .collapsed .version-wrapper {
    width: 4rem;
    padding: 2rem 0;
  }

  .logo {
    width: 3rem;
    margin-top: 0.5rem;
    display: none;
  }

  .collapsed .logo {
    display: block;
  }

  @media (--small-viewport) {
    h2,
    .separator {
      display: none;
    }

    .nav {
      position: fixed;
      height: calc(100% - 3.5rem);
      /* for mobile open and close*/
      transform: translateX(-13rem);

      transition: transform 50ms linear;
    }

    .topbar {
      display: none;
    }
  }
</style>

<script lang="ts">
  import Version from './Version.svelte'

  export let open

  let isOpen = true

  $: collapseSideBar = !isOpen && !open

  const toggleSidebar = () => {
    isOpen = !isOpen
  }
</script>

<div class="container">
  <div class="nav" class:open="{open}" class:collapsed="{collapseSideBar}">
    <div class="topbar">
      <button class="toggleOpen" on:click="{toggleSidebar}">
        {#if isOpen}
          «
        {:else}
          »
        {/if}
      </button>
      <img alt="logo" class="logo" src="/static/logo.png" />
    </div>
    <nav>
      <h2>Inkheart</h2>
      <div class="separator"></div>
      <slot />
    </nav>
    <div class="version-wrapper">
      <Version compact="{collapseSideBar}"></Version>
    </div>
  </div>
</div>
