<style>
  .version {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--text-color-light);
  }

  .version-number {
    font-size: 1rem;
  }

  .version-name {
    font-size: 0.85rem;
    opacity: 0.8;
  }

  .hidden {
    visibility: hidden;
  }
</style>

<script lang="ts">
  const version = __APP_VERSION__
  const codename = __APP_CODENAME__

  export let compact = false
</script>

<div class="version">
  <span class="version-number">{compact ? version : `v${version}`}</span>
  <span class="version-name" class:hidden="{compact}">({codename})</span>
</div>
