<style>
  main {
    width: 100vw;
    height: calc(100vh);

    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: hidden;
  }
</style>

<script lang="ts">
  import { useLocation } from 'svelte-navigator'
  import IframePdf from '../ui/components/pdf/IframePdf.svelte'
  import queryString from 'query-string'

  let location = useLocation()

  export let file = ''

  const getHashValue = (key: string) => {
    var matches = $location.hash.match(new RegExp(key + '=([^&]*)'))
    return matches ? matches[1] : null
  }

  let page: string = (queryString.parse($location.search)['page'] as string) || getHashValue('page') || ''
</script>

<main>
  <IframePdf file="{`/file/${file}`}" page="{parseInt(page)}" />
</main>
