<style>
  main {
    /*max-width: calc(100vw - 5rem);*/
    padding: 2rem;
    width: 100%;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-container {
    width: 15rem;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
  }

  button {
    cursor: pointer;
    border: 0;
    border-radius: 0.3rem;
    font-weight: 600;
    width: 10rem;
    padding: 0.5rem 0;
    box-shadow: var(--elevation-1);
    transition: 0.2s;
  }

  .login {
    color: var(--text-color-contrast);
    background-color: var(--button-primary);
    border: 1px solid var(--button-primary);
  }

  button:hover {
    box-shadow: 0 0 0.5rem var(--separator-1);
  }

  @media (--small-viewport) {
    main {
      width: 100vw;
    }
  }
</style>

<script lang="ts">
  import { onMount } from 'svelte'
  import { initFirebase } from '../lib/firebase'
  import { auth as authStore } from '../stores/auth'
  import Card from '../ui/components/card/Card.svelte'
  import { setToken } from '../lib/localstorage'
  import { useNavigate } from 'svelte-navigator'

  const navigate = useNavigate()

  onMount(() => {
    return authStore.subscribe((user: any) => {
      if (user) {
        user.getIdToken().then(function (idToken) {
          setToken(idToken)
          navigate('/')
        })
      }
    })
  })

  const handleSignInButton = () => {
    const { auth, GoogleAuthProvider, signInWithPopup } = initFirebase()

    const provider = new GoogleAuthProvider()

    signInWithPopup(auth, provider)
      .then((result) => {})
      .catch((error) => {
        // Handle Errors here.
        const errorCode = error.code
        const errorMessage = error.message

        console.log(errorCode, errorMessage)
        // ...
      })
  }
</script>

<main>
  <div class="card-container">
    <Card>
      <div class="card-content">
        <span>Sign in with Google</span>
        <button class="login" on:click="{handleSignInButton}">Sign-in</button>
      </div>
    </Card>
  </div>
</main>
