<style>
  main {
    /* max-width: calc(100vw - 5rem); */
    height: 100%;

    border-left: 3px solid var(--separator-1);

    box-sizing: border-box;
    overflow-y: hidden;
  }

  .toolbar {
    position: fixed;
    right: 2rem;
    bottom: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 600;
  }

  .toolbar > a div {
    background-color: var(--foreground);
    margin: 0.5rem;
    padding: 0.1rem 0.3rem;
    border-radius: 0.5rem;
    color: var(--text-color-light);
  }

  .toolbar > a {
    cursor: pointer;
  }

  @media (--small-viewport) {
    main {
      max-width: 100vw;
      width: 100vw;
      height: calc(100vh - 85px);
    }
  }
</style>

<script lang="ts">
  import IframePdf from '../ui/components/pdf/IframePdf.svelte'
  import EmbedModal from '../ui/components/modal/EmbedModal.svelte'
  import { link, useLocation } from 'svelte-navigator'
  import queryString from 'query-string'

  export let file = ''

  let modalOpen = false

  let location = useLocation()

  const getHashValue = (key: string) => {
    var matches = $location.hash.match(new RegExp(key + '=([^&]*)'))
    return matches ? matches[1] : null
  }

  let page: string = (queryString.parse($location.search)['page'] as string) || getHashValue('page') || ''

  let currentPage = parseInt(page) || 1
  let previewTitle

  const handleEmbedClick = () => {
    //copyTextToClipboard(`${window.location.origin}/embed/${file}#page=${page}`)
    modalOpen = !modalOpen
    //toast.push('Link copied!')
  }
</script>

<main>
  <IframePdf file="{`/file/${file}`}" bind:page="{currentPage}" bind:previewTitle="{previewTitle}" />
  <div class="toolbar">
    <a use:link href="/fullscreen/{file}?page={currentPage}" target="_blank"
      ><div class="openMozviewer">Fullscreen</div></a
    >

    <!-- svelte-ignore a11y-missing-attribute -->
    <a on:click="{handleEmbedClick}" on:keyup="{handleEmbedClick}" role="button" tabindex="-1"
      ><div class="copyEmbedLink">Embed</div></a
    >
  </div>
  <EmbedModal
    bind:open="{modalOpen}"
    baseUrl="{`${window.location.origin}/embed/${file}`}"
    pageNumber="{currentPage}"
    previewText="{previewTitle}"
  />
</main>
