<style>
  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'sidebar main';

    height: 100%;
  }

  .sidebar {
    grid-area: sidebar;
    height: 100%;
  }

  .content {
    grid-area: main;
  }

  .loader-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .hamburger {
    grid-area: header;
    z-index: 50;

    display: none;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;

    padding-left: 0.5rem;

    background: var(--foreground);
    box-shadow: var(--elevation-2);
  }

  h2 {
    display: block;
    margin-right: 2em;
    font-size: 1.3rem;
    line-height: 1.15rem;
  }

  .overlay {
    display: none;
  }

  .overlay.show {
    grid-area: main;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    background: black;
    opacity: 0.5;

    z-index: 50;

    display: none;
  }

  @media (--small-viewport) {
    .container {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: 'header header' 'sidebar main';
    }

    .hamburger {
      display: flex;
    }

    .overlay.show {
      display: block;
    }
  }
</style>

<script lang="ts">
  import { Router, Link, Route, useNavigate } from 'svelte-navigator'

  import { Jumper } from 'svelte-loading-spinners'
  import { SvelteToast } from '@zerodevx/svelte-toast'

  import Main from './pages/main.svelte'
  import SideNav from './ui/nav/SideNav.svelte'
  import NavItem from './ui/nav/NavItem.svelte'
  import PdfReader from './pages/pdfreader.svelte'
  import Login from './pages/login.svelte'

  import { onMount } from 'svelte'
  import { initFirebase } from './lib/firebase'
  import { auth as authStore, usingAuth } from './stores/auth'
  import { setToken, setUsingAuth } from './lib/localstorage'
  import FullscreenReader from './pages/fullscreen-reader.svelte'
  import { Hamburger } from 'svelte-hamburgers'

  export let useAuth = false

  const navigate = useNavigate()

  $: loading = true

  $: logged_in = false

  $: show_sidebar = !(
    window.location.pathname.startsWith('/fullscreen') || window.location.pathname.startsWith('/embed')
  )

  let sidebarOpen: boolean

  onMount(() => {
    usingAuth.set(useAuth)
    setUsingAuth($usingAuth)

    if ($usingAuth) {
      const { auth, onAuthStateChanged } = initFirebase()
      onAuthStateChanged(auth, authStore.set)
      onAuthStateChanged(auth, checkAuth)
    } else {
      loading = false
      logged_in = true
    }
  })

  const checkAuth = () => {
    return authStore.subscribe((user: any) => {
      if (!user) {
        logged_in = false
        loading = false
        navigate('/login')
      } else {
        logged_in = true
        user.getIdToken().then(function (idToken) {
          setToken(idToken)
          loading = false
        })
      }
    })
  }
</script>

<div class="container">
  {#if !loading}
    <div class="overlay" class:show="{sidebarOpen}"></div>
    <div class="hamburger" class:open="{sidebarOpen}">
      <Hamburger
        bind:open="{sidebarOpen}"
        type="spin"
        --layer-width="2rem"
        --layer-height="0.2rem"
        --color="var(--text-color-light)"
      />
      <h2 class="test">Inkheart</h2>
    </div>
    {#if logged_in && show_sidebar}
      <div class="sidebar">
        <SideNav bind:open="{sidebarOpen}">
          <NavItem path="{'/'}">Files</NavItem>
        </SideNav>
      </div>
    {/if}
    <div class="content">
      <Route path="/"><Main /></Route>
      <Route path="/login"><Login /></Route>

      <Route path="/fullscreen/:file" let:params>
        <FullscreenReader file="{params.file}" /></Route
      >
      <Route path="/embed/:file" let:params><FullscreenReader file="{params.file}" /></Route>
      <Route path="/reader/:file" let:params>
        <PdfReader file="{params.file}" />
      </Route>
      <Route path="/library/:item" let:params>
        <Main directory="{params.item}" />
      </Route>
    </div>
  {:else}
    <div class="loader-container">
      <div class="loader">
        <Jumper size="10" color="var(--button-primary)" unit="rem" duration="1s" />
      </div>
    </div>
  {/if}
  <SvelteToast />
</div>
