<style>
  .button {
    border: 2px solid var(--card-color);

    box-shadow: var(--elevation-1);

    background: var(--card-subtle);
    color: var(--text-color-light);

    padding: 0;
  }

  .button:hover {
    border: 2px solid var(--foreground);
  }
</style>

<script lang="ts">
  export let handleButton = () => {}
</script>

<button class="button" on:click="{handleButton}">
  <slot />
</button>
