<style>
  .module {
    /* Demo-Specific Styles */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;
  }

  .module.small {
    flex: 1 1;
  }

  @media (--small-viewport) {
    .module {
      flex: 1 1;
    }
  }
</style>

<script lang="ts">
  import { link } from 'svelte-navigator'
  import type { LibraryItem } from '../../../../types/library-item'
  import CoverCard from '../../card/CoverCard.svelte'
  import FolderCard from '../../card/FolderCard.svelte'

  export let item: LibraryItem

  export let small: boolean = false
</script>

<div class="module {small ? 'small' : ''}">
  {#if item.is_dir}
    <a href="{`/library/${item.id}`}" use:link>
      <FolderCard small="{small}" title="{item.title}" />
    </a>
  {:else}
    <a href="{`/reader/${item.id}`}" use:link>
      <CoverCard small="{small}" src="{`/cover/${item.cover_name}`}" title="{item.title}" />
    </a>
  {/if}
</div>
