<style>
  .wrapper {
    position: sticky;
    top: 0;
  }

  .header {
    width: 100%;
    height: 5.5rem;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 'title main' 'handle handle';

    background: var(--background);
    box-shadow: var(--elevation-1);

    transition: height 100ms ease 0ms;
  }

  .toolbar-handle {
    display: none;

    max-height: 2rem;
    font-size: 1.8rem;

    height: 2rem;

    background: var(--background);
    box-shadow: var(--elevation-1);

    cursor: pointer;

    overflow: hidden;

    transition: max-height 100ms ease 0ms;
  }

  .handle-icon {
    opacity: 1;

    transition: opacity 50ms ease 0ms;
  }

  .header-main {
    grid-area: main;

    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: center;

    margin-left: 10%;
    margin-right: 3rem;
  }

  .item-title {
    grid-area: title;
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-left: 3rem;
    margin-right: 3rem;

    overflow: hidden;
  }

  .item-title h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h3:focus {
    border: none;
    outline: none;
  }

  .search {
    width: 100%;
    max-width: 40rem;
    margin-left: -5rem;

    display: flex;
  }

  .buttons {
    display: flex;
  }

  .view-options {
    margin-left: 1rem;
  }

  @media (--medium-viewport) {
    .item-title {
      display: none;
    }

    .header {
      grid-template-columns: 1fr;
      grid-template-areas: 'main';
    }

    .header-main {
      margin: 0 2rem;
      justify-content: space-between;
    }

    .search {
      margin-left: 0rem;
      max-width: none;
    }

    .search:focus {
      width: 100%;
    }

    .header.hide {
      overflow: hidden;

      height: 0rem;

      transition: height 100ms ease 0ms;
    }

    .toolbar-handle {
      display: block;
    }

    .toolbar-handle.hide {
      max-height: 0rem;

      transition: max-height 100ms ease 0ms;
    }

    .toolbar-handle.hide .handle-icon {
      opacity: 0;

      transition: opacity 50ms ease 0ms;
    }
  }

  @media (--small-viewport) {
    .header-main {
      margin: 0 1rem;
    }

    .hide-small {
      display: none;
    }
  }
</style>

<script lang="ts">
  import Icon from '@iconify/svelte'
  import SearchBox from './search/SearchBox.svelte'
  import SortMenu from './sort/SortMenu.svelte'
  import ViewMenu from './view-options/ViewMenu.svelte'

  export let title = ''

  export let onSearchChange
  export let onSearch
  export let onClear

  export let sortableProps

  export let showToolbar = true

  export let onHandle = () => {}

  let searchFocused = false

  const onFocus = () => {
    searchFocused = true
  }

  const onBlur = () => {
    setTimeout(() => {
      searchFocused = false
    }, 100)
  }
</script>

<div class="wrapper">
  <div class="header" class:hide="{!showToolbar}">
    <div class="item-title">
      <h3 title="{title}">{title}</h3>
    </div>
    <div class="header-main">
      <div class="search">
        <SearchBox
          onInput="{onSearchChange}"
          onSearch="{onSearch}"
          onClear="{onClear}"
          onFocus="{onFocus}"
          onBlur="{onBlur}"
        ></SearchBox>
      </div>
      <div class="buttons {searchFocused ? 'hide-small' : ''}">
        <SortMenu sortableProps="{sortableProps}"></SortMenu>
        <div class="view-options"><ViewMenu withHeader="{title !== ''}"></ViewMenu></div>
      </div>
    </div>
  </div>
  <div
    class="toolbar-handle"
    class:hide="{showToolbar}"
    on:click="{onHandle}"
    on:keyup="{onHandle}"
    role="button"
    tabindex="-1"
  >
    <div class="handle-icon">
      <Icon icon="material-symbols-light:drag-handle" />
    </div>
  </div>
  <slot />
</div>
