<style>
  .library {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'header' 'content';
  }

  .header {
    grid-area: header;
  }

  .header-attached {
    position: absolute;
    width: 100%;
    background: var(--card-subtle-alpha);

    max-height: 60vh;
    overflow-y: scroll;

    box-shadow: var(--elevation-1);

    scrollbar-width: none;
  }

  .header-attached::-webkit-scrollbar {
    display: none;
  }

  .scrollbox {
    overflow-y: scroll;
    grid-area: content;
  }

  .loader {
    width: 100%;

    opacity: 0.6;

    margin: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-title {
    display: none;

    position: relative;
    z-index: 10;

    height: 1.5rem;

    justify-content: left;
    padding: 1rem;
    margin-left: 1rem;

    background: var(--background);
    border-bottom: 2px solid var(--card-color);
  }

  .mobile-title h4 {
    margin: 0;
  }

  .no-results {
    padding: 3rem;
    color: var(--text-color-light);
    opacity: 0.6;
    font-size: 1.3rem;
  }

  @media (--medium-viewport) {
    .mobile-title {
      display: flex;
    }
  }

  @media (--small-viewport) {
    .library {
      height: calc(100vh - 3.5rem);
    }

    .mobile-title {
      display: flex;
    }
  }
</style>

<script lang="ts">
  import { onDestroy, onMount } from 'svelte'
  import { searchModeStore, sortModeStore, sortPropStore, type SearchMode } from '../../../../stores/options'

  import { SyncLoader } from 'svelte-loading-spinners'
  import BookGrid from './BookGrid.svelte'
  import ErrorMessage from '../../error/ErrorMessage.svelte'
  import { createGetRequest } from '../../../../lib/create-request'
  import LibraryHeader from './LibraryHeader.svelte'
  import type { LibraryItem } from '../../../../types/library-item'
  import SearchResults from './search/SearchResults.svelte'

  export let directory: string = ''

  let unauthorized = false
  $: loadingLibrary = false
  $: loadingSearch = false

  let title = ''
  let items: LibraryItem[] = []

  const sortableProps = [
    { key: 'title', display: 'name' },
    { key: 'last_modified', display: 'modified' },
    { key: 'created', display: 'created' },
  ]

  let searchActive = false
  let searchFilter = ''

  let searchResults: LibraryItem[] = []

  $: filteredResults = filterByType(searchResults, $searchModeStore).filter((item) => {
    return item.title
      .toLowerCase()
      .replace(/[^\w\s]/g, '')
      .includes(searchFilter.toLowerCase().replace(/[^\w\s]/g, ''))
  })

  const filterByType = (items: LibraryItem[], mode: SearchMode) =>
    items.filter((it) => (mode === 'file' ? !it.is_dir : mode === 'dir' ? it.is_dir : true))

  const sortItems = (items: LibraryItem[], order: 'asc' | 'dsc', prop: string) => {
    items.sort((a, b) => {
      if (order === 'asc') {
        return a[prop] < b[prop] ? -1 : a[prop] > b[prop] ? 1 : 0
      } else {
        // 'desc' order
        return b[prop] < a[prop] ? -1 : b[prop] > a[prop] ? 1 : 0
      }
    })

    return items
  }

  $: sorted = (() => {
    const dirs = sortItems(
      items.filter((d) => d.is_dir),
      $sortModeStore,
      $sortPropStore,
    )

    const books = sortItems(
      items.filter((d) => !d.is_dir),
      $sortModeStore,
      $sortPropStore,
    )

    return [...dirs, ...books]
  })()

  const loadDirectory = async (dir: string) => {
    const endpoint = directory ? `/item/${directory}` : `/mediaroot`

    try {
      loadingLibrary = true
      const response = await fetch(...createGetRequest(endpoint))
      const data = await response.json()

      unauthorized = false
      items = data.children
      title = data.title === 'media' ? '' : data.title
      loadingLibrary = false
    } catch (e) {
      loadingLibrary = false
      //console.log(e)
      unauthorized = true
    }
  }

  $: loadDirectory(directory)

  onMount(async function () {
    await loadDirectory(directory)
  })

  const doSearch = async (query: string) => {
    if (!searchActive) {
      searchActive = true
      loadingSearch = true
      try {
        const response = await fetch(...createGetRequest('/search'))
        const data = await response.json()
        searchResults = sortItems(data, 'asc', 'title')
        loadingSearch = false
      } catch (e) {
        loadingSearch = false
        console.log(e)
        // show search error
      }
    } else if (query === '') {
      console.log('clearing search')
      searchActive = false
      searchResults = []
      //clear other stuff?
    }

    searchFilter = query
  }

  const onSearch = (e: Event) => {
    const target = e.target as HTMLInputElement
    doSearch(target.value)
  }

  const onSearchChange = (e: Event) => {
    const target = e.target as HTMLInputElement
    doSearch(target.value)
  }

  const onClear = () => {
    searchResults = []
    searchActive = false
    searchFilter = ''
  }

  const scrollRevealDistance = 200
  let lastScrollPosition = 0
  let lowerScrollBound = 0
  let showToolbar = true

  let scrollbox: HTMLDivElement

  const onScroll = (e) => {
    let currentScrollposition = scrollbox.scrollTop
    const scrollDistance = lowerScrollBound - currentScrollposition

    if (currentScrollposition > lastScrollPosition) {
      showToolbar = false
      lowerScrollBound = currentScrollposition
    } else if (scrollDistance > scrollRevealDistance || currentScrollposition === 0) {
      showToolbar = true
      lowerScrollBound = currentScrollposition
    }
    lastScrollPosition = currentScrollposition
  }

  const resetToolbar = () => {
    if (scrollbox.scrollTop === scrollbox.scrollHeight - scrollbox.offsetHeight) {
      scrollbox.scrollTop = scrollbox.scrollTop - 200
    }
    showToolbar = true
  }
</script>

<div class="library">
  {#if unauthorized}
    <ErrorMessage message="Unauthorized" />
  {:else}
    <!--<div class="toolbar">
        <SortButton></SortButton>
      </div>-->
    <div class="header">
      {#if title}
        <div class="mobile-title">
          <h4>{title}</h4>
        </div>
      {/if}
      <LibraryHeader
        title="{title}"
        sortableProps="{sortableProps}"
        onSearch="{onSearch}"
        onSearchChange="{onSearchChange}"
        onClear="{onClear}"
        onHandle="{resetToolbar}"
        bind:showToolbar="{showToolbar}"
      >
        <div class="header-attached">
          {#if loadingSearch}
            <div class="loader">
              <SyncLoader size="5" color="var(--button-primary)" unit="rem" duration="1s" />
            </div>
          {:else if searchActive && filteredResults.length === 0}
            <div class="no-results">
              <span>No results found</span>
            </div>
          {:else}
            <SearchResults results="{filteredResults}"></SearchResults>
          {/if}
        </div>
      </LibraryHeader>
    </div>

    <div bind:this="{scrollbox}" class="scrollbox" on:scroll="{onScroll}">
      {#if loadingLibrary}
        <div class="loader">
          <SyncLoader size="5" color="var(--button-primary)" unit="rem" duration="1s" />
        </div>
      {:else}
        <BookGrid items="{sorted}" />
      {/if}
    </div>
  {/if}
</div>
